@model MVC1.Models.Datos

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MostarProductos</title>
</head>
<body>
    <div>
        
        <h3>Producto</h3>
        <label>Descripcion es: @Model.descripcion</label><br />
        <label>Cantidad es: @Model.cantidad</label><br />
        <label>Cantidad es: @Model.precio</label><br /> 

    </div>
</body>
</html>
